<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>DemoServer</display-name>
  
  	<!-- 监听spring上下文容器 -->  
  <listener>  
    <listener-class>  
            org.springframework.web.context.ContextLoaderListener   
    </listener-class>   
  </listener>  
  <!-- 加载spring的xml配置文件到spring的上下文容器中 -->  
  <context-param>  
        <param-name>contextConfigLocation</param-name>  
        <param-value>classpath*:/springmvc-config*.xml</param-value>  
  </context-param>  
    
  <!-- 配置springmvc DispatcherServlet  -->  
  <servlet>  
    <servlet-name>SpringMVC</servlet-name>  
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>  
    <init-param>  
        <param-name>contextConfigLocation</param-name>  
        <param-value>/WEB-INF/conf/springmvc-config.xml</param-value>  
    </init-param>  
    <load-on-startup>1</load-on-startup>  
  </servlet>  
  <!-- 配置DispatcherServlet需要拦截的url -->  
  
  
<!--① 完全匹配
  	<url-pattern>/test/list.do</url-pattern>  
	② 路径匹配
  	<url-pattern>/*</url-pattern> struts2匹配根路径下的全部请求
	③ 扩展名匹配
  	<url-pattern>*.do</url-pattern> struts1
  	<url-pattern>*.html</url-pattern> 匹配全部html结尾的请求
  	<url-pattern>*</url-pattern> 不能用*，否则报错 -->
  	
  <servlet-mapping>  
    <servlet-name>SpringMVC</servlet-name>  
    <url-pattern>*.html</url-pattern>  
  </servlet-mapping> 
   
  <servlet-mapping>  
    <servlet-name>SpringMVC</servlet-name>  
    <url-pattern>*.json</url-pattern>  
  </servlet-mapping>  
    
  <!-- 欢迎页 -->  
  <welcome-file-list>  
    <welcome-file>index.html</welcome-file>  
    <welcome-file>index.htm</welcome-file>  
    <welcome-file>index.jsp</welcome-file>  
    <welcome-file>default.html</welcome-file>  
    <welcome-file>default.htm</welcome-file>  
    <welcome-file>default.jsp</welcome-file>  
  </welcome-file-list>
  
</web-app>