<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<!-- 配置数据库连接信息 -->
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.cj.jdbc.Driver" />
				<property name="url" value="jdbc:mysql://127.0.0.1:3306/CourseDesign?serverTimezone=Asia/Shanghai&amp;useSSL=FALSE" />
				<property name="username" value="root" />
				<property name="password" value="redhat" />
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<mapper resource="com/lrr/server/mapping/AnswerMapping.xml" />
		<mapper resource="com/lrr/server/mapping/GMMapping.xml" />
		<mapper resource="com/lrr/server/mapping/InformationMapping.xml" />
		<mapper resource="com/lrr/server/mapping/LoginStuMapping.xml" />
		<mapper resource="com/lrr/server/mapping/LoginTeaMapping.xml" />
		<mapper resource="com/lrr/server/mapping/LoginRootMapping.xml" />
		<mapper resource="com/lrr/server/mapping/QuestionMapping.xml" />
		<mapper resource="com/lrr/server/mapping/StudentMapping.xml" />
		<mapper resource="com/lrr/server/mapping/TeacherMapping.xml" />
		<mapper resource="com/lrr/server/mapping/RootMapping.xml" />
		<mapper resource="com/lrr/server/mapping/STGroupMapping.xml" />
	</mappers>
</configuration>
